body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
}

.slider img {
  width: 100%;
}

.slideIn {
  animation: slideInAnim 0.5s forwards;
}
@keyframes slideInAnim {
  0% {
    transform: translate(500px, 0px) rotateZ(0.001deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0.001deg);
  }
}

.slideOut {
  animation: slideOutAnim 0.5s forwards;
}
@keyframes slideOutAnim {
  0% {
    transform: translate(0px, 0px) rotateZ(0.001deg);
  }
  100% {
    transform: translate(-500px, 0px) rotateZ(0.001deg);
  }
}

.slide2animation {
  transition: transform 0.5s linear;
}
